.tgwf_green {
    text-decoration: underline;
    /*color: #a3c005 !important;*/
    border-bottom:1px solid #a3c005;
}

/*a.tgwf_green {
    text-decoration: none !important;
}*/

.tgwf_question {
    text-decoration: underline;
    color: grey !important;
}